<div class="mission-filter">
  <h3>Filter by:</h3>
  <div>
    <h4>Launch year</h4>
    <div class="years">
      <span *ngFor="let year of availableYears" (click)="filterByYear(year)" class="year">{{ year }}</span>
    </div>
  </div>
  <div>
    <h4>Successful launch</h4>
    <div class="success-filter">
      <span (click)="filterByLaunch(true)" class="success">True</span>
      <span (click)="filterByLaunch(false)" class="success">False</span>
    </div>
  </div>
  <div>
    <h4>Successful land</h4>
    <div class="success-filter">
      <span (click)="filterByLand(true)" class="success">True</span>
      <span (click)="filterByLand(false)" class="success">False</span>
    </div>
  </div>
</div>
<app-missionlist [filteredYear]="launchYear" [filteredLaunch]="successfulLaunch" [filteredLand]="successfulLand"></app-missionlist>
