.mission-filter {
    display: inline-block;
    vertical-align: top;
    width: 150px;
    margin-right: 20px;
  }
  
  .years {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }
  
  .year {
    display: inline-block;
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    text-align: center;
    border-radius: 4px;
  }
  
  .year:hover {
    background-color: #0056b3;
  }
.success-filter {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    margin-bottom: 20px;
  }
  
  .success {
    display: inline-block;
    padding: 5px 10px;
    background-color: #28a745;
    color: white;
    cursor: pointer;
    text-align: center;
    border-radius: 4px;
  }
  
  .success:hover {
    background-color: #218838;
  }
  
  